<ion-view view-title="Select By category">
  <ion-content>
       <label class="item item-input item-select">
          <span class="input-label" >Search By Category</span>
          	<select ng-model="xxy.category" required>
				<option>Sports</option>
				<option>Games</option>
				<option>Coding</option>
				<option>Meeting</option>
				<option>Music</option>
				<option>Art</option>
				<option>Studies</option>
				<option>Others</option>
			</select>
       </label>
         </ion-content>
</ion-view>
