<ion-view view-title="Select By category">
  <ion-content>
       <label class="item item-input item-select">
          <span class="input-label" >Search By Category</span>
          	<select ng-model="xxy.category" ng-change="changed()" required>
				<option>Sports</option>
				<option>Games</option>
				<option>Coding</option>
				<option>Meeting</option>
				<option>Music</option>
				<option>Art</option>
				<option>Studies</option>
				<option>Others</option>
			</select>
       </label>
       <div ng-repeat="x in toshow">

       	<label class="item" >
       	 	
       		<center><div class="col"><i class="icon icon-large ion-android-calendar"></i>{{space}}{{x.eventname}}</div></center>
       		<center><div class="col"><i class="icon icon-large ion-bookmark"></i>{{space}}{{x.category}}</div></center>
       		
       		<center><div class="col"><i class="icon ion-android-pin"></i>{{space}}{{x.location}} {{x.locationdet}}</div></center>
       		<center><div class="col"><i class="icon ion-clipboard"></i>{{space}}{{x.eventdesc}}</div></center>
       		<center><div class="col"><i class="icon ion-android-time"></i>{{space}}{{x.startdate}}  to {{ x.enddate}}</div></center>
          
       		</label>



       </div>
       
       
       
         </ion-content>
</ion-view>
