 <ion-view view-title="Select by Location">
  <ion-content>
       <label class="item item-input item-select">
          <span class="input-label" >Search By Location</span>
          	<select ng-model="xxy.venue" ng-change="changed()" required>
				<option>SAC</option>
				<option>CLT</option>
				<option>OAT</option>
				<option>CS Block</option>
				<option>Gurunath</option>
				<option>ICSR</option>
				<option>Zaitoon</option>
				<option>Gajendra Circle</option>
				<option>Others</option>
			</select>
       </label>
       <div ng-repeat="x in toshow">

       	<label class="item" >
       	 	
       		<center><div class="col"><i class="icon icon-large ion-android-calendar"></i>{{space}}{{x.eventname}}</div></center>
       		<center><div class="col"><i class="icon icon-large ion-bookmark"></i>{{space}}{{x.category}}</div></center>
       		
       		<center><div class="col"><i class="icon ion-android-pin"></i>{{space}}{{x.location}} {{x.locationdet}}</div></center>
       		<center><div class="col"><i class="icon ion-clipboard"></i>{{space}}{{x.eventdesc}}</div></center>
       		<center><div class="col"><i class="icon ion-android-time"></i>{{space}}{{x.startdate}}  to {{ x.enddate}}</div></center>
          
       		</label>



       </div>
         </ion-content>
</ion-view>
