 <ion-view view-title="Select by Location">
  <ion-content>
       <label class="item item-input item-select">
          <span class="input-label" >Search By Location</span>
          	<select ng-model="xxy.venue" required>
				<option>SAC</option>
				<option>CLT</option>
				<option>OAT</option>
				<option>CS Block</option>
				<option>Gurunath</option>
				<option>ICSR</option>
				<option>Zaitoon</option>
				<option>Gajendra Circle</option>
				<option>Others</option>
			</select>
       </label>
         </ion-content>
</ion-view>
