<style type="text/css">
#bt{
	margin-left: 20%;
	margin-right: 20%;
	width:200px;
}
</style>
<ion-view view-title="SearchEvent">
  <ion-content>
  	
      <label class="item">
      	<center>
         <button class="button button-calm" id="bt" ng-click="selection1()">Search By Name</button>
         </center>
     </label>
          <label class="item"><center>
         <button class="button button-calm" id="bt" ng-click="selection2()">Search By Category</button>
    		</center> </label>
          <label class="item">
          	<center>
         <button class="button button-calm" id="bt" ng-click="selection3()">Search By Location</button>
      </center>
      </label >
  
      <label class="item">
     <center>
      <button class="button button-large button-positive" ng-click="selection4()">See all Events</button>
       </center>
      </label>
       


    
  </ion-content>
</ion-view>
